.container
  = form_with(model:@profile, url:profile_path, method:'post', local:true) do |f|
    %div 
      = f.label :avatar, 'アバター'
    %div
      = f.file_field :avatar
    %div 
      = f.label :nickname, 'ニックネーム'
    %div
      = f.text_field :nickname
    %div
      = f.label :gender, '性別'
    %div
      = f.text_field :gender
    %div
      = f.label :birthday, '生年月日'
    %div
      = f.text_field :birthday
    %div
      = f.label :introduction, '紹介'
    %div
      = f.text_area :introduction
    .actions
      = f.submit 'SUBMIT', class:'submit_btn'