.container
  = form_with(model:@board, url:boards_path, method:'post', local:true) do |f|
    %div
      = f.label :eyecatch, '画像'
    %div
      = f.file_field :eyecatch
    %div 
      = f.label :introduction, '投稿'
    %div
      = f.text_area :introduction
    .actions
      = f.submit 'SUBMIT', class:'submit_btn'